<div id="localisation" class="footer">
  <div class="div-50 footer">
    <div data-w-id="546b067b-e6c6-4893-1b34-49d1e5dba302" style="opacity:0" class="div-50 lieu">
      <div class="subtitle">Lieu</div>
      <div class="title lieu">Hôtel Rimouski et Centre Des Congrès</div>
      <div>225, boulevard René-Lepage Est<br>Rimouski (Québec)   G5L 1P2<br>‍<br><a href="tel:418-725-5000" class="footer-link">418-725-5000</a> / <a href="tel:1-800-463-0755" class="footer-link">1-800-463-0755</a><br><a href="https://hotelrimouski.com/" target="_blank" class="footer-link">www.hotelrimouski.com</a></div>
      <a href="https://www.google.ca/maps/place/225+Boulevard+Ren%C3%A9+Lepage+E,+Rimouski,+QC+G5L+1P2/@48.4577275,-68.5235874,17z/data=!3m1!4b1!4m5!3m4!1s0x4c95d9eadba8b0d9:0x298059e2c275ba45!8m2!3d48.4577275!4d-68.5213987" target="_blank" class="button yellow w-inline-block">
        <div>VOIR L’ITINÉRAIRE</div>
      </a>
    </div>
    <div data-w-id="212e6b4f-0784-0828-4a11-7597ded9cd52" style="opacity:0" class="div-50 lieu">
      <div class="subtitle">Date</div>
      <div class="title lieu">15 au 17<br>avril 2019</div>
      <div>Repas midi inclus et servi sur place<br>‍<br>Pour plus d’informations sur l’événement, contactez-nous à : <a href="mailto:info@colloquevecteur.com" class="footer-link">info@colloquevecteur.com</a></div>
      <a href="#inscription" class="button yellow w-inline-block">
        <div>Inscription ici</div>
      </a>
    </div>
    <div class="div-50 lieu full">
      <div class="subtitle"><strong>Pour plus d’informations sur l’événement contacter :</strong></div>
      <div class="title lieu">Technopole maritime du Québec</div>
      <div>+1 (418) 724-9616 | <a href="mailto:info@colloquevecteur.com">info@colloquevecteur.com</a></div>
    </div>
  </div>
  <div class="div-map">
    <div class="map w-embed w-iframe"><iframe src="https://snazzymaps.com/embed/111284" width="100%" height="100%" style="border:none;"></iframe></div>
  </div>
  <div class="div-credits">
    <div>© Colloque Vecteur 2018, Tous droits réservés</div>
  </div>
</div>
</div>
