<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-scroll w-nav">
  <a href="/home" class="brand w-nav-brand"><img src="/images/vecteur_logo_temporaire.png" alt=""></a>
  <nav role="navigation" class="nav-menu float-right w-nav-menu">
    <a href="/home#hero" class="nav-link w-nav-link">Home</a>
    <a href="/home#about" class="nav-link w-nav-link">About</a>
    <a href="/home#nouvelles" class="nav-link w-nav-link">News</a>
    <a href="/home#program" class="nav-link w-nav-link">Program</a>
    <a href="/home#location" class="nav-link w-nav-link">Location</a>
    <a href="/home#inscription" class="nav-link w-nav-link">Inscription</a>
    <div class="div-separator"></div>
    <a href="/" class="nav-link w-nav-link">Fr</a>
  </nav>
  <div class="menu-button w-nav-button" data-ix="menu-button">
    <div class="div-bar">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </div>
</div>
<div
  data-collapse="small"
  data-animation="default"
  data-duration="400"
  data-w-id="6d650715-f06a-225c-38e7-61a823892d56"
  style="opacity:0;-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
  class="navbar w-nav"
  data-ix="menu-scroll">
  <nav role="navigation" class="nav-menu w-nav-menu">
    <a href="/home#hero" class="nav-link w-nav-link">Home</a>
    <a href="/home#about" class="nav-link w-nav-link">About</a>
    <a href="/home#nouvelles" class="nav-link w-nav-link">News</a>
    <a href="/home#program" class="nav-link w-nav-link">Program</a>
    <a href="/home#location" class="nav-link w-nav-link">Location</a>
    <a href="/home#inscription" class="nav-link w-nav-link">Inscription</a>
    <div class="div-separator"></div>
    <a href="/" class="nav-link w-nav-link">Fr</a>
  </nav>
  <div class="menu-button w-nav-button" data-ix="menu-button">
    <div class="div-bar">
      <div class="top-line"></div>
      <div class="middle-line"></div>
      <div class="bottom-line"></div>
    </div>
  </div>
</div>
