<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Thu Nov 29 2018 15:31:39 GMT+0000 (UTC)  -->
<html data-wf-page="5be1afb0403be2d6cbbd0ea9" data-wf-site="5be1afb0403be2f6f2bd0ea8">
<head>
  <meta charset="utf-8">
  <title>Colloque VECTEUR du 15 au 17 avril 2019 à Rimouski</title>
  <meta content="Participez au Colloque VECTEUR du 15 au 17 avril 2019 à Rimouski. Venez échanger sur des thématiques et des enjeux touchant diverses sphères d’activités. Une grande variété de conférences pour les acteurs de la géomatique et de l’hydrographie." name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/colloque-vecteur.webflow.css" rel="stylesheet" type="text/css">
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/colloque_vecteur_favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
  <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-129577045-1', 'auto');ga('send', 'pageview');</script>
</head>
<body>
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-scroll w-nav"><a href="index.html" class="brand w-nav-brand w--current"><img src="images/vecteur_logo_temporaire.png" alt=""></a>
    <nav role="navigation" class="nav-menu float-right w-nav-menu"><a href="#hero" class="nav-link scroll w-nav-link">Accueil</a><a href="#a-propos" class="nav-link w-nav-link">À Propos</a><a href="#nouvelles" class="nav-link w-nav-link">Nouvelles</a><a href="#sujets" class="nav-link w-nav-link">Programmation</a><a href="#localisation" class="nav-link w-nav-link">Localisation</a><a href="#inscription" class="nav-link w-nav-link">Inscription</a>
      <div class="div-separator"></div><a href="home.html" class="nav-link w-nav-link">EN</a></nav>
    <div class="menu-button w-nav-button" data-ix="menu-button">
      <div class="div-bar">
        <div class="top-line"></div>
        <div class="middle-line"></div>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="5be90009-6be9-78d3-0403-98e189af7b0e" style="opacity:0;-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="navbar w-nav" data-ix="menu-scroll">
    <nav role="navigation" class="nav-menu w-nav-menu"><a href="#hero" class="nav-link w-nav-link">Accueil</a><a href="#a-propos" class="nav-link w-nav-link">À Propos</a><a href="#nouvelles" class="nav-link w-nav-link">Nouvelles</a><a href="#sujets" class="nav-link w-nav-link">Programmation</a><a href="#localisation" class="nav-link w-nav-link">Localisation</a><a href="#inscription" class="nav-link w-nav-link">Inscription</a>
      <div class="div-separator"></div><a href="home.html" class="nav-link w-nav-link">EN</a></nav>
    <div class="menu-button w-nav-button" data-ix="menu-button">
      <div class="div-bar">
        <div class="top-line"></div>
        <div class="middle-line"></div>
        <div class="bottom-line"></div>
      </div>
    </div>
  </div>
  <div id="hero" data-w-id="f117c11b-e838-a0eb-e4b0-88be7b4f2758" class="section hero">
    <div class="div-baseline"><img src="images/logo.png" data-w-id="458db7a9-b972-4d51-f373-86d0763ab1bc" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" alt="" class="hero-logo">
      <div data-w-id="d55a193c-60db-eda4-2514-bf99862d2c62" style="opacity:0" class="text-date">15 au 17 avril 2019 - Hôtel Rimouski</div>
      <a href="#appel" data-w-id="27934c59-3448-b2ae-8fc3-e04801fd3c3e" style="opacity:0" class="button w-inline-block">
        <div>PARTICIPER À L’APPEL À Communication</div>
      </a>
    </div>
    <div class="div-background-hero"><img src="images/white.png" srcset="images/white-p-500.png 500w, images/white-p-800.png 800w, images/white-p-1080.png 1080w, images/white-p-1600.png 1600w, images/white-p-2000.png 2000w, images/white-p-2600.png 2600w, images/white-p-3200.png 3200w, images/white.png 3812w" sizes="100vw" data-w-id="110655bf-4d65-bbe1-09c0-744c9c89e17d" style="opacity:0" alt="" class="background-image"></div>
    <div class="div-sponsors-hero">
      <div data-w-id="96098b8d-4fd6-1218-71ad-b399adbe0f61" style="opacity:0" class="div-50 sponsor">
        <div>Colloque organisé conjointement par :</div><a href="http://www.cidco.ca/" target="_blank" class="link-sponsor w-inline-block"><img src="images/cidco_blanc.png" alt=""></a><a href="http://www.cgq.qc.ca/fr/" target="_blank" class="link-sponsor w-inline-block"><img src="images/cgo.png" alt=""></a></div>
      <div data-w-id="27a6c7cf-6cb1-b19d-36dd-fadab3e40cf1" style="opacity:0" class="div-50 sponsor">
        <div>En partenariat avec :</div><a href="https://tmq.ca/" target="_blank" class="link-sponsor tmq w-inline-block"><img src="images/TMQ_blanc.png" alt=""></a></div>
    </div>
  </div>
  <div data-w-id="5eb35e03-5ad6-3ed8-1a5b-85428d4f2b8a" style="display:none" class="sections-container">
    <div id="a-propos" class="section yellow">
      <div class="div-about-content">
        <div data-w-id="1a67e99b-530c-52f3-e7ee-d319df83d861" style="opacity:0" class="div-50 text">
          <div class="subtitle">À propos du Contexte</div>
          <div class="title">COLLOQUE<br>VECTEUR 2019</div>
          <div>Les événements VisionGÉOMATIQUE et Colloque CIDCO fusionnent cette année pour créer VECTEUR. Cette conférence est organisée par le <a href="http://www.cgq.qc.ca/" target="_blank" class="link">Centre de géomatique du Québec (CGQ)</a> et le <a href="http://www.cidco.ca/" target="_blank" class="link">CIDCO</a> en partenariat avec <a href="https://tmq.ca/" target="_blank" class="link">Technopole maritime du Québec (TMQ)</a>.<br><br>VECTEUR sera une occasion unique pour les acteurs de la géomatique et de l’hydrographie de se réunir et d’échanger sur des thématiques et des enjeux touchant diverses sphères d’activités. Une grande variété de conférences et d’activités permettra aux participants de tirer le maximum de leur participation.<br><br><strong>VECTEUR se tiendra à Rimouski du 15 au 17 avril 2019.</strong></div>
          <a href="#inscription" class="button margin w-inline-block">
            <div>Inscrivez-vous</div>
          </a>
        </div>
        <div class="div-50 pictures">
          <div data-w-id="621f0338-cac7-41f0-6890-b0458dfb52de" style="opacity:0" class="div-picture first" data-ix="div-picture-moving-loop"><img src="images/seventh.jpg" srcset="images/seventh-p-500.jpeg 500w, images/seventh-p-800.jpeg 800w, images/seventh.jpg 1000w" sizes="(max-width: 479px) 55vw, (max-width: 767px) 57vw, (max-width: 991px) 54vw, (max-width: 3703px) 27vw, 1000px" alt=""></div>
          <div data-w-id="31363c48-fc80-3396-c0b6-ec6c64434dcd" style="opacity:0" class="div-picture third" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-13.jpg" srcset="images/FP-CIDCO_2017-13-p-1080.jpeg 1080w, images/FP-CIDCO_2017-13-p-1600.jpeg 1600w, images/FP-CIDCO_2017-13-p-2000.jpeg 2000w, images/FP-CIDCO_2017-13-p-2600.jpeg 2600w, images/FP-CIDCO_2017-13-p-3200.jpeg 3200w, images/FP-CIDCO_2017-13.jpg 3596w" sizes="(max-width: 479px) 41vw, (max-width: 767px) 43vw, (max-width: 991px) 41vw, 20vw" alt=""></div>
          <div data-w-id="fbb62486-d9bb-c86a-3c5f-079c42d9a472" style="opacity:0" class="div-picture second" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-28.jpg" srcset="images/FP-CIDCO_2017-28-p-500.jpeg 500w, images/FP-CIDCO_2017-28-p-800.jpeg 800w, images/FP-CIDCO_2017-28.jpg 863w" sizes="(max-width: 479px) 64vw, (max-width: 767px) 66vw, (max-width: 991px) 63vw, 32vw" alt=""></div>
        </div>
      </div>
      <div class="div-background"><img src="images/white.png" srcset="images/white-p-500.png 500w, images/white-p-800.png 800w, images/white-p-1080.png 1080w, images/white-p-1600.png 1600w, images/white-p-2000.png 2000w, images/white-p-2600.png 2600w, images/white-p-3200.png 3200w, images/white.png 3812w" sizes="100vw" alt="" class="background-image"></div>
    </div>
    <div id="nouvelles" class="section">
      <div id="w-node-dadac26dad4c-cbbd0ea9" class="div-background"><img src="images/white.png" srcset="images/white-p-500.png 500w, images/white-p-800.png 800w, images/white-p-1080.png 1080w, images/white-p-1600.png 1600w, images/white-p-2000.png 2000w, images/white-p-2600.png 2600w, images/white-p-3200.png 3200w, images/white.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>
      <div class="div-sujets-content">
        <div data-w-id="3aaf7c76-8d7a-d2d6-e3b9-06656591396b" style="opacity:0">
          <div class="title yellow">Nouvelles</div>
        </div>
        <div data-w-id="78456833-fe13-0b7b-1c07-d4426144ab61" style="opacity:0" class="div-nouvelles-container">
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-inline-block">
            <div class="nouvelle-heading">L&#x27;appel à communication est lancé. </div>
            <div class="nouvelle-date">19 novembre 2018</div>
            <div>Vous pouvez désormais faire vos propositions de conférences.</div>
          </a>
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block">
            <div class="nouvelle-heading">Article à venir</div>
            <div class="nouvelle-date">DD/MM/YYYY</div>
            <div>lorem ipsum dolor apset</div>
          </a>
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block">
            <div class="nouvelle-heading">Article à venir</div>
            <div class="nouvelle-date">DD/MM/YYYY</div>
            <div>lorem ipsum dolor apset</div>
          </a>
        </div>
        <div data-w-id="63d501bb-2628-1e53-1ed5-2d88654fbd50" style="opacity:0" class="div-nouvelles-container-hidden w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-inline-block">
            <div class="nouvelle-heading">Article à venir</div>
            <div class="nouvelle-date">DD/MM/YYYY</div>
            <div>lorem ipsum dolor apset</div>
          </a>
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-inline-block">
            <div class="nouvelle-heading">Article à venir</div>
            <div class="nouvelle-date">DD/MM/YYYY</div>
            <div>lorem ipsum dolor apset</div>
          </a>
          <a href="l-appel-a-communication-est-commence.html" class="div-nouvelle-block w-inline-block">
            <div class="nouvelle-heading">Article à venir</div>
            <div class="nouvelle-date">DD/MM/YYYY</div>
            <div>lorem ipsum dolor apset</div>
          </a>
        </div>
        <a href="#" class="button margin w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block" data-ix="plus-darticles">
          <div>Voir plus d&#x27;articles</div>
        </a>
      </div>
    </div>
    <div id="appel" class="section white">
      <div class="div-about-content reverse">
        <div data-w-id="d24c09f2-a185-16e4-d631-9dfaa4c00946" style="opacity:0" class="div-50 text">
          <div class="subtitle">Appel à communication</div>
          <div class="title yellow">PARTAGEZ<br>VOTRE SAVOIR</div>
          <div>Partenaires privés ou publics, chercheurs et étudiants : présentez votre proposition de conférence dès maintenant!<br><br>La date limite de l’appel à communications est le <strong>18 février 2019. </strong></div>
          <a href="https://tmq.ca/formulaire/formulaire-d-appel-a-communications-colloque-vecteur-2019/" target="_blank" class="button white w-inline-block">
            <div>Appel à Communication</div>
          </a>
        </div>
        <div data-w-id="d24c09f2-a185-16e4-d631-9dfaa4c00955" style="opacity:0" class="div-50 pictures-reverse">
          <div data-w-id="d24c09f2-a185-16e4-d631-9dfaa4c00956" style="opacity:0" class="div-picture fourth" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-20.jpg" alt=""></div>
          <div data-w-id="d24c09f2-a185-16e4-d631-9dfaa4c00958" style="opacity:0" class="div-picture fifth" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-08.jpg" alt=""></div>
          <div data-w-id="d24c09f2-a185-16e4-d631-9dfaa4c0095a" style="opacity:0" class="div-picture sixth" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-03.jpg" alt=""></div>
        </div>
      </div>
      <div class="div-background"><img src="images/grey.png" srcset="images/grey-p-500.png 500w, images/grey-p-800.png 800w, images/grey-p-1080.png 1080w, images/grey-p-1600.png 1600w, images/grey-p-2000.png 2000w, images/grey-p-2600.png 2600w, images/grey.png 3812w" sizes="100vw" alt="" class="background-image grey"></div>
    </div>
    <div id="sujets" class="section">
      <div id="w-node-d231cfd067bb-cbbd0ea9" class="div-background"><img src="images/white.png" srcset="images/white-p-500.png 500w, images/white-p-800.png 800w, images/white-p-1080.png 1080w, images/white-p-1600.png 1600w, images/white-p-2000.png 2000w, images/white-p-2600.png 2600w, images/white-p-3200.png 3200w, images/white.png 3812w" sizes="100vw" alt="" class="background-image sujets"></div>
      <div class="div-sujets-content">
        <div data-w-id="850c4170-d3ce-ef2d-503b-d231cfd067be" style="opacity:0">
          <div class="subtitle">Sujets 2019 à l&#x27;honneur</div>
          <div class="title yellow">Plus de 30 conférenciers</div>
          <div>VECTEUR abordera plusieurs thématiques d’importance dans les domaines de la géomatique et de l’hydrographie : </div>
        </div>
        <div class="div-liste-container">
          <div data-w-id="850c4170-d3ce-ef2d-503b-d231cfd067c6" style="opacity:0" class="div-50 sujets">
            <div class="text-sujets">Bathymétrie satellitaire</div>
            <div class="text-sujets">Drone - application spécialisée</div>
            <div class="text-sujets">Le « Deap Learning » et l’intelligence artificielle</div>
            <div class="text-sujets">Hydrographie et cartographie collaborative (« crowdsourcing »)</div>
            <div class="text-sujets">La géomatique et les objets connectés </div>
            <div class="text-sujets">LiDAR bathymétrique</div>
            <div class="text-sujets">Inspection d’infrastructures </div>
            <div class="text-sujets">Érosion cotière</div>
          </div>
          <div data-w-id="850c4170-d3ce-ef2d-503b-d231cfd067d7" style="opacity:0" class="div-50 sujets">
            <div class="text-sujets">Changement climatique</div>
            <div class="text-sujets">Agriculture de précision</div>
            <div class="text-sujets">Imagerie et observation de la terre</div>
            <div class="text-sujets">Ville intelligente</div>
            <div class="text-sujets">Réflectivité acoustique (« backscatter »)</div>
            <div class="text-sujets">La géomatique appliquée au tourisme</div>
            <div class="text-sujets">Les outils de traçabilité et de la « blockchain »</div>
          </div>
        </div>
        <div data-w-id="850c4170-d3ce-ef2d-503b-d231cfd067e6" style="opacity:0">
          <div>L’événement présentera plusieurs sessions en parallèle, offrant à chaque participant une expérience complète et modulable en fonction de ses intérêts. Certaines conférences bénéficieront d’un service d’interprétation simultanée en français et en anglais.</div>
          <a href="#" class="button margin w-inline-block">
            <div>PROGRAMMATION COMPLÈTE À VENIR</div>
          </a>
        </div>
      </div>
    </div>
    <div id="inscription" class="section white">
      <div class="div-about-content">
        <div data-w-id="aeb8cb20-7230-a813-60f6-4a641142b177" style="opacity:0" class="div-50 text">
          <div class="div-inscription-container">
            <div class="title-2">Inscription hâtive et membres TMQ, ACH<strong><br></strong></div>
            <div>Date limite d&#x27;inscription : <strong>jusqu&#x27;au 15 mars 2019<br></strong></div>
            <div>Inscription – tarif préférentiel : <strong>295,00$<br></strong></div>
            <div>Inscription conférenciers et étudiants – tarif préférentiel : <strong>95,00$</strong>  <strong><br></strong></div>
          </div>
          <div class="div-inscription-container">
            <div class="title-2">Inscriptions régulières<strong><br></strong></div>
            <div>Date limite d&#x27;inscription : <strong>jusqu&#x27;au 15 mars 2019<br></strong></div>
            <div>Inscription régulière : <strong>375,00$<br></strong></div>
            <div>Inscription conférencier et étudiants :<strong> 120,00$</strong><br></div>
          </div>
          <div class="div-inscription-container">
            <div class="title-2"><strong>Soirées de réseautage<br></strong></div>
            <div>Soirée Brise-glace 15 avril : <strong>Inclus<br></strong></div>
            <div>Soirée réseautage du 16 avril : <strong>75,00$<br></strong></div>
          </div>
          <a href="#" class="button white w-inline-block">
            <div><strong>Formulaire d’inscription à venir </strong></div>
          </a>
        </div>
        <div data-w-id="9b387315-5ac2-9cea-258f-efeee6d2080b" style="opacity:0" class="div-50 pictures">
          <div data-w-id="9b387315-5ac2-9cea-258f-efeee6d2080c" style="opacity:0" class="div-picture first" data-ix="div-picture-moving-loop"><img src="images/IMG_20181021_122015766_HDR.jpg" srcset="images/IMG_20181021_122015766_HDR-p-500.jpeg 500w, images/IMG_20181021_122015766_HDR-p-800.jpeg 800w, images/IMG_20181021_122015766_HDR.jpg 1000w" sizes="(max-width: 479px) 55vw, (max-width: 767px) 57vw, (max-width: 991px) 54vw, (max-width: 3703px) 27vw, 1000px" alt=""></div>
          <div data-w-id="9b387315-5ac2-9cea-258f-efeee6d2080e" style="opacity:0" class="div-picture third" data-ix="div-picture-moving-loop"><img src="images/IMG_20170510_093750.jpg" srcset="images/IMG_20170510_093750-p-500.jpeg 500w, images/IMG_20170510_093750-p-800.jpeg 800w, images/IMG_20170510_093750.jpg 1000w" sizes="(max-width: 479px) 41vw, (max-width: 767px) 43vw, (max-width: 991px) 41vw, (max-width: 5000px) 20vw, 1000px" alt=""></div>
          <div data-w-id="9b387315-5ac2-9cea-258f-efeee6d20810" style="opacity:0" class="div-picture second" data-ix="div-picture-moving-loop"><img src="images/FP-CIDCO_2017-57.jpg" srcset="images/FP-CIDCO_2017-57-p-500.jpeg 500w, images/FP-CIDCO_2017-57-p-800.jpeg 800w, images/FP-CIDCO_2017-57.jpg 863w" sizes="(max-width: 479px) 64vw, (max-width: 767px) 66vw, (max-width: 991px) 63vw, 32vw" alt=""></div>
        </div>
      </div>
      <div class="div-background"><img src="images/grey.png" srcset="images/grey-p-500.png 500w, images/grey-p-800.png 800w, images/grey-p-1080.png 1080w, images/grey-p-1600.png 1600w, images/grey-p-2000.png 2000w, images/grey-p-2600.png 2600w, images/grey.png 3812w" sizes="100vw" alt="" class="background-image grey"></div>
    </div>
    <div id="localisation" class="footer">
      <div class="div-50 footer">
        <div data-w-id="546b067b-e6c6-4893-1b34-49d1e5dba302" style="opacity:0" class="div-50 lieu">
          <div class="subtitle">Lieu</div>
          <div class="title lieu">Hôtel Rimouski et Centre Des Congrès</div>
          <div>225, boulevard René-Lepage Est<br>Rimouski (Québec)   G5L 1P2<br>‍<br><a href="tel:418-725-5000" class="footer-link">418-725-5000</a> / <a href="tel:1-800-463-0755" class="footer-link">1-800-463-0755</a><br><a href="https://hotelrimouski.com/" target="_blank" class="footer-link">www.hotelrimouski.com</a></div>
          <a href="https://www.google.ca/maps/place/225+Boulevard+Ren%C3%A9+Lepage+E,+Rimouski,+QC+G5L+1P2/@48.4577275,-68.5235874,17z/data=!3m1!4b1!4m5!3m4!1s0x4c95d9eadba8b0d9:0x298059e2c275ba45!8m2!3d48.4577275!4d-68.5213987" target="_blank" class="button yellow w-inline-block">
            <div>VOIR L’ITINÉRAIRE</div>
          </a>
        </div>
        <div data-w-id="212e6b4f-0784-0828-4a11-7597ded9cd52" style="opacity:0" class="div-50 lieu">
          <div class="subtitle">Date</div>
          <div class="title lieu">15 au 17<br>avril 2019</div>
          <div>Repas midi inclus et servi sur place<br>‍<br>Pour plus d’informations sur l’événement, contactez-nous à : <a href="mailto:info@colloquevecteur.com" class="footer-link">info@colloquevecteur.com</a></div>
          <a href="#inscription" class="button yellow w-inline-block">
            <div>Inscription ici</div>
          </a>
        </div>
      </div>
      <div class="div-map">
        <div class="map w-embed w-iframe"><iframe src="https://snazzymaps.com/embed/111284" width="100%" height="100%" style="border:none;"></iframe></div>
      </div>
      <div class="div-credits">
        <div>© Colloque Vecteur 2018, Tous droits réservés</div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

</body>
</html>
